<component name="libraryTable">
  <library name="config">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/build/intermediates/compressed_assets/debug/compressDebugAssets/out/assets/svc/config/testConfig.jar!/" />
      <root url="jar://$PROJECT_DIR$/build/intermediates/compressed_assets/debug/compressDebugAssets/out/assets/svc/config/vulkantestConfig.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>